//MAIN COLORS

$siteColorMain: #10b0e6;

$video-volor-grey: #3a4b59;
$video-volor-blue: #396b9f;
$video-volor-red: #f44446;
$video-volor-white: #fff;

$bodyBackground:#272727;

//font styles
$font-Regular: 'Lato', sans-serif;



//main sizes
$videoclientMinHeight:108rem;


//header height
$header-height:3.5rem;

//sideBar width
$sideBar-width:3.5rem;