//MAIN COLORS

$siteColorMain: #10b0e6;
$video-volor-grey: #3a4b59;
$video-volor-blue: #396b9f;
$video-volor-red: #f44446;

$bodyBackground:#272727;

//font styles
$font-Regular: 'Lato', sans-serif;



//main sizes
$videoclientMinHeight:1080px;
