.bluButon{
  background: #10b0e6 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.42857;
  margin: 5px 0;
  padding: 5px 30px 5px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  white-space: nowrap;
}