.island1{
  position: absolute;
  background: url("img/ilands1.png") no-repeat bottom/contain;
  width: 9.5rem;
  height: 3rem;
  top: 25.7rem;
  left: 65.4rem;

}
.island2{
  position: absolute;
  background: url("img/ilands2.png") no-repeat bottom/contain;
  width: 38rem;
  height: 13.8rem;
  top: 17rem;
  left: -6.5rem;
}
