!!!
%html
  %head
    %link{rel:'stylesheet', href:'UI/core.css'}
    %link{href:"https://fonts.googleapis.com/css?family=Lato:300,400,700",  rel:"stylesheet"}
  %body.VideoClient.showVideo
    .cover.parent-forVH-align.full_size
      .left-part
      .right-part
      .content.child-forVH-align
        %img{src:'UI/img/logo/video_loader_logo_white_small.png'}
        .load-block

        .step1-block{style:'display:none'}
        .step2-block{style:'display:none'}
        .step3-block{style:'display:none'}
    .V-header
    .V-right-panel
    .V-VideoContainer
