!!!
%html
  %head
    %link{rel:'stylesheet', href:'UI/core.css'}
    %link{href:"https://fonts.googleapis.com/css?family=Lato:300,400,700",  rel:"stylesheet"}
  %body.VideoClient.showSidebarLine-1
    -#.showVideo add to body for remove cover
    .cover.full_size
      .left-part
      .right-part
      .content.chrome_plugin_install.text-center.text-color-white

        .animatedObject-wrapper
          .clouds
          .field_for_buble
          .shark
          .whake
          .animatedObject
            .sunduk
            .island1
            .island2
            .sunshine
              %span.first-half
              %span.second-half
            .ship-1
            .ship-2
            .ship-3
            .fish1-r
            .fish2-r
            .fish1-l
            .fish2-l
            .crab
        %img.d-inline-block.mt30.mb100{src:'UI/img/logo/video_loader_logo_whiteMK2.png'}
        .loadSpin#circleG.hide
          .mt50
          .fs20
            Welcome
          %small Please wait...
          .loadSpin#circleG
            %span.circleG#circleG_1
            %span.circleG#circleG_2
            %span.circleG#circleG_3

        .step1.active
          .diver_block.DRpos1
            %a.diver{href:'panels.html'}
            .yyykor-wrapp
              .yyykor{onclick: "$('body').addClass('showVideo');$('.styledScroll').scrollbar();intoduceInit();"}
          %p.mb20.fs20.font-bold Immerss extension is required to continue.
          %div.mb20
            %a.bluButon.bigBtn{onclick: "$('.step1').removeClass('active');$('.step2').addClass('active');"}
              INSTALL
          %div
            Click Above to install the extension.
            %br
            By installing you are accepting the
            %a{href: '#'} terms and conditions.
        .step2
          .diver_block.DRpos1
            .diver
            .yyykor-wrapp
              .yyykor
          .GO_LINE.GO_LINE_UP.mb50
            %i.VideoClientIcon-navigate-up-arrow
            %i.VideoClientIcon-navigate-up-arrow
            %i.VideoClientIcon-navigate-up-arrow
          %div
            Click
            %a.greyBn{href:'#', onclick: "$('.step2').removeClass('active');$('.step3').addClass('active');"} add extention
            button to install the extension cord
        .step3
          .diver_block.DRpos1
            .diver
            .yyykor-wrapp
              .yyykor
          %aside.position_s-w
            .row
              .col-md-3
                .GO_LINE.GO_LINE_DOWN
                  %i.VideoClientIcon-navigate-down-arrow
                  %i.VideoClientIcon-navigate-down-arrow
                  %i.VideoClientIcon-navigate-down-arrow
              .col-md-9.text-left.nowrap
                The plugin will be downloaded
                %br
                in a moment.
                %br
                %br
                If the download doesn't start
                %br
                %a{href:'#', onclick: "$('.step3').removeClass('active');$('.step4').addClass('active');"} click here.

        .step4
          .diver_block.DRpos1
            .diver
            .yyykor-wrapp
              .yyykor
          .font-bold.fs18
            Welcome to Immerss
            .div
              %a.bluButon.bigBtn
                start demo
          .mb20
          %small Please wait...
          .loadSpin#circleG
            %span.circleG#circleG_1
            %span.circleG#circleG_2
            %span.circleG#circleG_3
    .main-section
      .V-header.clearfix
        .logo
        .oneThird{"data-step":"1", "data-intro":'ed posuere consectetur est at lobortis. Fusce dapibus', "data-position":'botom'}
          %section.play
            -#add .record for showing record button
            %a.INTRdefault.MainVideoButton.ensure-link-style{'data-tippause' => "Pause", 'data-tipstart' =>"Start"}
              .circleButton
                %span
                %span
                %span
              .playButton
                %span.VideoClientIcon-play3.disabled#inCallButtonStartStreaming
                %span.VideoClientIcon-pause2{style:'display:none'}
            %a.recordBytton{href:'#', onclick: "$(this).addClass('active')"}
              %i.VideoClientIcon-dot-and-circle
          %section.state.live{onclick: "$(this).toggleClass('live').toggleClass('GreenRoom')"}
            %span.live live
            %span.GreenRoom Green Room
          %section.timeCounterWrapp
            .d-inline-block.timeCountericon
              %i.VideoClientIcon-three-quarters-of-an-hour
              .hoverSection
                %a{href:'#'}
                  15min
                  %i.VideoClientIcon-add
                %i.VideoClientIcon-three-quarters-of-an-hour
                %a{href:'#'}
                  %i.VideoClientIcon-remove
                  15min
                .d-inline-block.timeCounter{onclick: "$('.timeCounter span').toggleClass('hide')"}
                  %span.hide
                    &#45
                  01:30:16
            .d-inline-block.timeCounter{onclick: "$('.timeCounter span').toggleClass('hide')"}
              %span.hide
                &#45
              01:30:16
          %section.userCount
            %a.d-inline-block{href:'#', onclick: "jQuery('.presenters-wrapp').toggleClass('active'); jQuery(this).toggleClass('active')"}
              %i.VideoClientIcon-three-users
              %span
                22
            .d-inline-block
              %i.VideoClientIcon-Views
              %span
                0

        .twoThird{"data-step":"2", "data-intro":'ed posuere consectetur est at lobortis. Fusce dapibus', "data-position":'bottom'}
          %section.sessionName
            Nulla vitae elit libero, a pharetra augue.
          %section.presenters-wrapp
            .presenters.styledScroll
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
              %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', onclick:"OpenParticipantPref(this)" , 'data-name':'Branda Brandovna'}
          %section.flashMessage
            -#for flashMessage add class info/error for show flash message
            .info
              info Nulla vitae elit libero, a pharetra augue.
            .error
              error Nulla vitae elit libero, a pharetra augue.
        .threeThird{"data-step":"3", "data-intro":'ed posuere consectetur est at lobortis. Fusce dapibus', "data-position":'botom'}
          %section.light
            %a{href:'#'}
              %i.VideoClientIcon-share2
            %a{href:'#'}
              %i.VideoClientIcon-live-share
                %span.path1
                %span.path2
                %span.path3
          %section.d-inline-block.vertical-midle
            %span.SignalLevel.level-1
              %span
              %span
              %span
            %a.d-inline-block.vertical-midle.headerHeight.headerWidth.text-center{href:'#'}
              %i.VideoClientIcon-float
            .d-inline-block.vertical-midle.headerHeight.headerWidth.text-center
            %a.d-inline-block.vertical-midle.headerHeight.headerWidth.text-center{href:'#'}
              %i.VideoClientIcon-expand2
            %a.d-inline-block.vertical-midle.headerHeight.headerWidth.text-center{href:'#'}
              %i.VideoClientIcon-log-out.rotate180
            %a.d-inline-block.vertical-midle.headerHeight.headerWidth.text-center.btn-HidePanel-toggle{href:'#'}
              %i.VideoClientIcon-unlock
              %i.VideoClientIcon-lock
          %section
      .V-right-panel
        .sectionWrapp
          %section.text-center#Profile
            .styledScroll
              %div
                %a.Avatar{'style': 'background:url(http://lorempixel.com/400/200/)', href:'#'}
                %a.pull-right.sectionHeader-close{href:'#', onclick:"CloseBar(this)"}
                  x
              %a.Name.fs16.mb10.d-block{href:'#'} Samantha Brandson
              .social.mb10
                %a.social-f{href:'#'}
                  %i.VideoClientIcon-facebook
                %a.social-tw{href:'#'}
                  %i.VideoClientIcon-twitter2
                %a.social-g{href:'#'}
                  %i.VideoClientIcon-google
              .desc
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
              .clearfix.btnGroup.mb10
                .half-width.d-inline-block.vertical-midle.pr5
                  %a.greanBtn.full-width{href:'#'} Vieew Profile
                .half-width.d-inline-block.vertical-midle.pl5.pr5
                  %a.bluButon.full-width{href:'#'} Follow
          -#chat
          %section#chat
            .sectionHeader
              %a.pull-right.sectionHeader-close{href:'#'}
                x
              chat
            .switcher.double.mb20
              %div
                %input{type:'radio', id:'chatComments', name:'chat'}
                %label{for:'chatComments'}
                  Comments
              %div
                %input{type:'radio', id:'chatQuestions', name:'chat', checked:'checked'}
                %label{for:'chatQuestions'}
                  Questions
            .styledScroll
              .message
                .subject
                  .Avatar.small{'style': 'background:url(http://lorempixel.com/400/200/)  '}
                  Kelley Moss
                .message-body
                  Donec id elit non mi porta gravida at eget metus. Morbi leo risus,
                  porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.
                  Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

              .message.owner
                .subject
                  .Avatar.small{'style': 'background:url(http://lorempixel.com/400/200/)  '}
                  Kelley Moss
                .message-body
                  Donec id elit non mi porta gravida at eget metus. Morbi leo risus,
                  porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.
                  Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            .newMessage
              %textarea.full-width{placeholder:'Type your comment...'}
              %a.bluButon.d-block.full-width.fs14.uppercase{href:'#'} send
        .ShowLine
        .V-right-panel-contaiver{"data-step":"4", "data-intro":'ed posuere consectetur est at lobortis. Fusce dapibus', "data-position":'left'}
          .WLS-right-sideBar
            %a.userAvatar{'style': 'background:url(http://lorempixel.com/400/200/)  ', href:'#', "data-id":"Profile", onclick:"appendBar(this)"}
            %a.Chat{href:'#', "data-id":"chat", onclick:"appendBar(this)"}
              %i.VideoClientIcon-speechbubble
      .V-VideoContainer{"data-step":"5", "data-intro":'ed posuere consectetur est at lobortis. Fusce dapibus', "data-position":'left'}
        #bar2.connectedBar
        #bar1.connectedBar
          %section.text-center#Profile
            .styledScroll
              %div
                %a.Avatar{'style': 'background:url(http://lorempixel.com/400/200/)', href:'#'}
                %a.pull-right.sectionHeader-close{href:'#', onclick:"CloseBar(this)"}
                  x
              %a.Name.fs16.mb10.d-block{href:'#'} Samantha Brandson
              .social.mb10
                %a.social-f{href:'#'}
                  %i.VideoClientIcon-facebook
                %a.social-tw{href:'#'}
                  %i.VideoClientIcon-twitter2
                %a.social-g{href:'#'}
                  %i.VideoClientIcon-google
              .desc
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
              .clearfix.btnGroup.mb10
                .half-width.d-inline-block.vertical-midle.pr5
                  %a.greanBtn.full-width{href:'#'} Vieew Profile
                .half-width.d-inline-block.vertical-midle.pl5.pr5
                  %a.bluButon.full-width{href:'#'} Follow
          %section#chat
            .sectionHeader
              %a.pull-right.sectionHeader-close{href:'#', onclick:"CloseBar(this)"}
                x
              chat
            .switcher.double.mb20
              %div
                %input{type:'radio', id:'chatComments', name:'chat'}
                %label{for:'chatComments'}
                  Comments
              %div
                %input{type:'radio', id:'chatQuestions', name:'chat', checked:'checked'}
                %label{for:'chatQuestions'}
                  Questions
            .styledScroll
              .message
                .subject
                  .Avatar.small{'style': 'background:url(http://lorempixel.com/400/200/)  '}
                  Kelley Moss
                .message-body
                  Donec id elit non mi porta gravida at eget metus. Morbi leo risus,
                  porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.
                  Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

              .message.owner
                .subject
                  .Avatar.small{'style': 'background:url(http://lorempixel.com/400/200/)  '}
                  Kelley Moss
                .message-body
                  Donec id elit non mi porta gravida at eget metus. Morbi leo risus,
                  porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo.
                  Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            .newMessage
              %textarea.full-width{placeholder:'Type your comment...'}
              %a.bluButon.d-block.full-width.fs14.uppercase{href:'#'} send
      .videoWrapper


    %script{:crossorigin => "anonymous", :integrity => "sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", :src => "https://code.jquery.com/jquery-2.2.4.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=", :src => "http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"}
    %script{src:'UI/scripts/demo.js'}
    %script{src:'UI/scripts/animation.js'}
    %script{src:'UI/scripts/header.js'}
    %script{src:'UI/scripts/rightSideBAr.js'}
    %script{src:'UI/scripts/sideBarToggle.js'}
    %script{src:'UI/scripts/plugin/jquery.scrollbar.min.js'}
    %script{src:'UI/scripts/plugin/jquery.mousewheel.min.js'}
    %script{src:'UI/scripts/plugin/intro.min.js'}
    %script{src:'UI/scripts/intoduce.js'}







