!!!
%html
  %head
    %link{rel:'stylesheet', href:'UI/core.css'}
    %link{href:"https://fonts.googleapis.com/css?family=Lato:300,400,700",  rel:"stylesheet"}
  %body.VideoClient
    -#.showVideo add to body for remove cover
    .cover.full_size
      .left-part
      .right-part
      .content.chrome_plugin_install.text-center.text-color-white

        .animatedObject-wrapper
          .clouds
          .field_for_buble
          .shark
          .whake
          .animatedObject
            .sunduk
            .island1
            .island2
            .sunshine
              %span.first-half
              %span.second-half
            .ship-1
            .ship-2
            .ship-3
            .fish1-r
            .fish2-r
            .fish1-l
            .fish2-l
            .crab
        %img.d-inline-block.mt30.mb100{src:'UI/img/logo/video_loader_logo_whiteMK2.png'}
        .loadSpin#circleG.hide
          .mt50
          .fs20
            Welcome(WORK IN PROGRESS)
          %small Please wait...
          .loadSpin#circleG
            %span.circleG#circleG_1
            %span.circleG#circleG_2
            %span.circleG#circleG_3

        .step1.active
          .diver_block.DRpos1
            .diver
            .yyykor-wrapp
              .yyykor
          %p.mb20.fs20.font-bold Immerss extension is required to continue.
          %div.mb20
            .bluButon.bigBtn{onclick: "window.open('https://chrome.google.com/webstore/detail/jbagnbabffebnloeajochhpipcjhpamb', '', 'width=1020, height=300');window.clicked_by_install=true"}
              INSTALL
          %div
            Click Above to install the extension.
            %br
            By installing you are accepting the
            %a{href: '#'} terms and conditions.
        .step2
          .GO_LINE.GO_LINE_UP.mb50
            %i.VideoClientIcon-navigate-up-arrow
            %i.VideoClientIcon-navigate-up-arrow
            %i.VideoClientIcon-navigate-up-arrow
          %div
            Click
            %span.btn-grey-small add extention
            button to install the
            %br
            button to install the Immerss extension
        .step3
          %aside.position_s-w
            .row
              .col-md-3
                .GO_LINE.GO_LINE_DOWN
                  %i.VideoClientIcon-navigate-down-arrow
                  %i.VideoClientIcon-navigate-down-arrow
                  %i.VideoClientIcon-navigate-down-arrow
              .col-md-9.text-left.nowrap
                The plugin will be downloaded
                %br
                in a moment.
                %br
                %br
                If the download doesn't start
                %br
                -#- if browser.chrome?
                -#  - if browser.platform.mac?
                -#    = link_to 'click here', download_client_profile_path(client: :chrome_web_mac), class: 'download_me'
                -#  - if browser.platform.windows? || browser.platform.windows_x64?
                -#    = link_to 'click here', download_client_profile_path(client: :chrome_web_win), class: 'download_me'

        .step4
          Welcome to Immerss
          %br
          .mb20
          %small Please wait...
          .loadSpin#circleG
            %span.circleG#circleG_1
            %span.circleG#circleG_2
            %span.circleG#circleG_3

    .V-header
    .V-right-panel
    .V-VideoContainer


    %script{:crossorigin => "anonymous", :integrity => "sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", :src => "https://code.jquery.com/jquery-2.2.4.min.js"}
    :javascript
      $(function(){

        var winHeight;
        var field = $(".field_for_buble");

        winRsize();
        $(window).resize(function() {
          winRsize();
        });
        function winRsize() {
          winHeight = $(window).height();
          field.height(winHeight);
        }


        var items = 100;
        for (var i=0; i<=items; i++) {
          var move = Math.ceil( Math.random()*50 );
          var pos = Math.ceil( Math.random()*50 );
          var scale = Math.ceil( Math.random()*10 );
          var stretch = Math.ceil( Math.random()*5 );
          var shake = Math.ceil( Math.random()*5 );
          field.append('<div class="bubble move'+move+' pos'+pos+'"><div class="scale'+scale+'"><div class="shake'+shake+'"><span class="item stretch'+stretch+'"></span></div></div>');
        }

      });