@font-face {
  font-family: 'Avenir Next LT Pro Medium';
  src: url('AvenirNextLTPro-Medium.eot'); /* IE9 Compat Modes */
  src: url('AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AvenirNextLTPro-Medium.woff') format('woff'), /* Modern Browsers */
       url('AvenirNextLTPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AvenirNextLTPro-Medium.svg#bca38cd97b16c9a0a447297f3709bcd3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

