.sectionWrapp #Profile{
  .Avatar{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width:10.5rem ;
    height:10.5rem ;
    border:3px solid #fff;
  }
  .desc{
    background: #272727;
    margin: 0 0.5rem 10px;
    padding: 0.5rem;
    color: #a1a1a1;
  }
}