.main-section{
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: $header-height 0 0 0;
  z-index: 1;
  left: 0;
  top: 0;
}

.showVideo{
  .main-section{
    opacity: 1;
    visibility: visible;
  }
}
.V-VideoContainer{
  background: #000;
  position: absolute;
  top: $header-height + 0.5;
  right: $header-height  + 0.5;
  height: calc(100% - #{$header-height});
  z-index: 1;
}
.videoWrapper{
  position: absolute;
  top: $header-height;
  right: $header-height;
  width:calc(100% - #{$header-height}) ;
  height:calc(100% - #{$header-height}) ;
  background: red;
  z-index: 99;
}