.main-section{
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: $header-height 0 0 0;
  z-index: 1;
  left: 0;
  top: 0;
}
$oneThirdWidth:41rem;
$threeThirdWidth:28rem;

.oneThird, .twoThird, .threeThird{
  float: left;
}
.oneThird{
  width:$oneThirdWidth ;
  padding-left: 4rem;
  padding-top: 0.7rem;
  height: 100%;
  section{
    display: inline-block;
    vertical-align: top;
  }
  section.play{
    width: 6.5rem;
  }
  .timeCounterWrapp{
    min-width: 10.5rem;
  }
}
.twoThird{
  width: calc(100% - #{$oneThirdWidth + $threeThirdWidth});
  background: #272727;
  height: $header-height;
}
.threeThird{
  width: $threeThirdWidth;
}
.showVideo{
  .main-section{
    opacity: 1;
    visibility: visible;
  }
}
.V-VideoContainer{
  background: #000;
  position: absolute;
  left: 0;
  top: $header-height;
  right: $header-height;
  width: calc(100% - #{$header-height});
  height: calc(100% - #{$header-height});
}