.twoThird{
  position: relative;
  section{
    width: 100%;
    height: $header-height;
    line-height: $header-height;
    padding: 0 1rem;
  }

  .sessionName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    font-weight: bold;
    color: $siteColorMain;
  }
}