@import "partials/flashMessage";

.V-header{
  @include clearfix();
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: $header-height;
  transform: translateY($header-height * -1);
  -webkit-transform: translateY($header-height * -1);
  @include transition($transitionProperty);
  background: #3a3a3a;
  .logo{
    background-color: #272727;
    background-image: url("img/logo/logo_small.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: #{$header-height * 0.6}  auto;
    width: $header-height;
    height: $header-height;
    float: left;
  }
}

@import "partials/oneThird";
@import "partials/twoThird";
@import "partials/threeThird";


.showVideo{
  .V-header{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

$oneThirdWidth:41rem;
$threeThirdWidth:30rem;

.oneThird, .twoThird, .threeThird{
  float: left;
}
.oneThird{
  width:$oneThirdWidth ;
  padding-left: 4rem;
  padding-top: 0.7rem;
  height: 100%;
  section{
    display: inline-block;
    vertical-align: top;
  }
  section.play{
    width: 6.5rem;
  }
  .timeCounterWrapp{
    min-width: 10.5rem;
  }
}
.twoThird{
  width: calc(100% - #{$oneThirdWidth + $threeThirdWidth + $header-height});
  background: #272727;
  height: $header-height;
}
.threeThird{
  width: $threeThirdWidth;
}
