

.V-header{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: $header-height;
  transform: translateY($header-height * -1);
  -webkit-transform: translateY($header-height * -1);
  @include transition(600ms);
  background: red;
  .logo{
    background-color: #272727;
    background-image: url("img/logo/logo_small.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: #{$header-height * 0.5}  auto;
    width: $header-height;
    height: $header-height;
  }
}

@import "partials/oneThird";
@import "partials/twoThird";
@import "partials/threeThird";


.showVideo{
  .V-header{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}


